<script src="../bower_components/flot/jquery.flot.pie.js"></script>
<script src="../bower_components/flot.tooltip/js/jquery.flot.tooltip.js"></script>

<div class="container">
  <div class="row">
    <div class="col-lg-12" ng-show="showHeaderTable">
      <div class="panel panel-default">
        <div class="panel-heading">
          Header Ratio
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div class="dataTable_wrapper">
            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
              <thead>
                <tr>
                  <th>name</th>
                  <th>ratio</th>
                  <th>attribute</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="headerRatio in headerRatios">
                  <td>{{headerRatio.key}}</td>
                  <td>{{headerRatio.ratio}}</td>
                  <td>{{headerRatio.value}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12" ng-show="showScore">
      <div class="panel panel-default">
        <div class="panel-heading">
          Score
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div class="dataTable_wrapper">
            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
              <thead>
                <tr>
                  <th>Index</th>
                  <th>User ID</th>
                  <th>Reason</th>
                  <th>score</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="score in scores">
                  <td>{{score.id}}</td>
                  <td>{{score.userId}}</td>
                  <td>{{score.reason}}</td>
                  <td>{{score.point}}</td>
                  <td>{{score.createdDate | date:'medium'}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3">
    </div>
    <div class="col-lg-6" ng-show="showBanReason">
      <div class="panel panel-default">
        <div class="panel-heading">
          Block Reason
        </div>
        <div class="panel-body">
          <div class="flot-chart">
            <div class="flot-chart-content" id="flot-pie-chart-ban-reason"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3">
    </div>
    <div class="col-lg-6" ng-show="showBanCount">
      <div class="panel panel-default">
        <div class="panel-heading">
          Block Count
        </div>
        <div class="panel-body">
          <div class="flot-chart2">
            <div class="flot-chart-content2" id="flot-line-chart-ban-count"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6" ng-show="showAcceptLanguage">
      <div class="panel panel-default">
        <div class="panel-heading">
          accept-language
        </div>
        <div class="panel-body">
          <div class="flot-chart">
            <div class="flot-chart-content" id="flot-pie-chart-accept-language"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6" ng-show="showUserAgent">
      <div class="panel panel-default">
        <div class="panel-heading">
          user-agent
        </div>
        <div class="panel-body">
          <div class="flot-chart">
            <div class="flot-chart-content" id="flot-pie-chart-user-agent"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6" ng-show="showAccept">
      <div class="panel panel-default">
        <div class="panel-heading">
          accept
        </div>
        <div class="panel-body">
          <div class="flot-chart">
            <div class="flot-chart-content" id="flot-pie-chart-accept"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6" ng-show="showAcceptEncoding">
      <div class="panel panel-default">
        <div class="panel-heading">
          accept-encoding
        </div>
        <div class="panel-body">
          <div class="flot-chart">
            <div class="flot-chart-content" id="flot-pie-chart-accept-encoding"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6" ng-show="showUserIp">
      <div class="panel panel-default">
        <div class="panel-heading">
          user ip
        </div>
        <div class="panel-body">
          <div class="flot-chart">
            <div class="flot-chart-content" id="flot-pie-chart-user-ip"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6" ng-show="showCacheControl">
      <div class="panel panel-default">
        <div class="panel-heading">
          cache-control
        </div>
        <div class="panel-body">
          <div class="flot-chart">
            <div class="flot-chart-content" id="flot-pie-chart-cache-control"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6" ng-show="showConnection">
      <div class="panel panel-default">
        <div class="panel-heading">
          connection
        </div>
        <div class="panel-body">
          <div class="flot-chart">
            <div class="flot-chart-content" id="flot-pie-chart-connection"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6" ng-show="showContentLength">
      <div class="panel panel-default">
        <div class="panel-heading">
          content-length
        </div>
        <div class="panel-body">
          <div class="flot-chart">
            <div class="flot-chart-content" id="flot-pie-chart-content-length"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6" ng-show="showContentType">
      <div class="panel panel-default">
        <div class="panel-heading">
          content-type
        </div>
        <div class="panel-body">
          <div class="flot-chart">
            <div class="flot-chart-content" id="flot-pie-chart-content-type"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6" ng-show="showHost">
      <div class="panel panel-default">
        <div class="panel-heading">
          host
        </div>
        <div class="panel-body">
          <div class="flot-chart">
            <div class="flot-chart-content" id="flot-pie-chart-host"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6" ng-show="showOrigin">
      <div class="panel panel-default">
        <div class="panel-heading">
          origin
        </div>
        <div class="panel-body">
          <div class="flot-chart">
            <div class="flot-chart-content" id="flot-pie-chart-origin"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6" ng-show="showPortNumber">
      <div class="panel panel-default">
        <div class="panel-heading">
          port number
        </div>
        <div class="panel-body">
          <div class="flot-chart">
            <div class="flot-chart-content" id="flot-pie-chart-port-number"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6" ng-show="showPragma">
      <div class="panel panel-default">
        <div class="panel-heading">
          pragma
        </div>
        <div class="panel-body">
          <div class="flot-chart">
            <div class="flot-chart-content" id="flot-pie-chart-pragma"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6" ng-show="showReferer">
      <div class="panel panel-default">
        <div class="panel-heading">
          referer
        </div>
        <div class="panel-body">
          <div class="flot-chart">
            <div class="flot-chart-content" id="flot-pie-chart-referer"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
