<div class="container">
  <div class="row">
    <div class="col-lg-12" ng-show="showBanCount">
      <div class="panel panel-default">
        <div class="panel-heading">
          Block Count
        </div>
        <div class="panel-body">
          <div class="flot-chart2">
            <div class="flot-chart-content2" id="flot-line-chart-ban-count"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
