<footer class="text-center">
	<div class="footer-below">
		<div class="container">
			<div class="row" ng-controller="SignoutCtrl">
				<button type="button" class="btn btn-default" ng-click="sendSignout()">
					Sign Out
				</button>
				<pre>{{message}}</pre>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<p style="padding:10px;"></p>
					<p align=center>Copyright &copy; SK Planet 2016</p>
				</div>
			</div>
		</div>
	</div>
</footer>
