<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="login-panel panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Please Sign Up</h3>
        </div>
        <div class="panel-body">
          <form role="form" name="signupForm" ng-submit="sendSignup()" novalidate>
            <fieldset>
              <div class="form-group" ng-class="{ 'has-error' : signupForm.userid.$error.required && !signupForm.userid.$pristine }">
                <input class="form-control" placeholder="User ID" name="userid" type="text" ng-model="param.id" autofocus required>
                <span ng-show="signupForm.userid.$error.required && !signupForm.userid.$pristine" class="help-block">Please enter your id</span>
              </div>
              <div class="form-group" ng-class="{ 'has-error' : signupForm.password.$error.required && !signupForm.password.$pristine }">
                <input class="form-control" placeholder="Password" name="password" type="password" value="" ng-model="param.pw" required>
                <span ng-show="signupForm.password.$error.required && !signupForm.password.$pristine" class="help-block">Please enter your password</span>
              </div>
              <div class="form-group" ng-class="{ 'has-error' : signupForm.email.$error.required && !signupForm.email.$pristine }">
                <input class="form-control" placeholder="Email" name="email" type="email" value="" ng-model="param.email" required>
                <span ng-show="signupForm.email.$error.required && !signupForm.email.$pristine" class="help-block">Please enter your password</span>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-lg btn-success btn-block" ng-disabled="signupForm.$invalid">Sign Up</button>
              </div>
            </fieldset>
          </form>
          <pre>{{message}}</pre>
        </div>
      </div>
    </div>
  </div>
</div>
