<script src='https://www.google.com/recaptcha/api.js'></script>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="login-panel panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Please Sign In</h3>
        </div>
        <div class="panel-body">
          <form role="form" name="signinForm" ng-submit="sendSignin()" novalidate>
            <fieldset>
              <div class="form-group" ng-class="{ 'has-error' : signinForm.userid.$error.required && !signinForm.userid.$pristine }">
                <input class="form-control" placeholder="User ID" name="userid" type="text" ng-model="param.id" autofocus required>
                <span ng-show="signinForm.userid.$error.required && !signinForm.userid.$pristine" class="help-block">Please enter your id</span>
              </div>
              <div class="form-group" ng-class="{ 'has-error' : signinForm.password.$error.required && !signinForm.password.$pristine }">
                <input class="form-control" placeholder="Password" name="password" type="password" value="" ng-model="param.passwd" required>
                <span ng-show="signinForm.password.$error.required && !signinForm.password.$pristine" class="help-block">Please enter your password</span>
              </div>
              <!-- Change this to a button or input when using this as a form -->
              <div class="g-recaptcha" data-sitekey="6Lfw6xgTAAAAANSXSitUfq5e0Udg5c9LLaSbcHrM"></div>
              <div class="form-group">
                <button type="submit" class="btn btn-lg btn-success btn-block" ng-disabled="signinForm.$invalid">Login</button>
              </div>
            </fieldset>
          </form>
          <pre>{{message}}</pre>
        </div>
      </div>
    </div>
  </div>
</div>
